.form {
	position: fixed;
	width: 500px;
	top: calc(50% - 150px);
	left: calc(50% - 250px);
}

mat-card-content {
	height: calc(100% - 80px);

	mat-form-field {
		width: 100%;
		margin: 16px 0 !important;
	}
}

mat-card-actions {
	text-align: right;

	button {

		img {
			width: 20px;
		}
	}
}