<app-header></app-header>

<mat-card class="form">
	<mat-card-header>
		<mat-card-title>Nueva contraseña</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		Para empezar a usar el plugin Panel, primero debes crear una contraseña maestra.
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>Introduce la contraseña</mat-label>
			<input type="password"
				   matInput
				   placeholder="Contraseña"
				   [(ngModel)]="pass">
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>Confirma la contraseña</mat-label>
			<input type="password"
				   matInput
				   placeholder="Confirmar"
				   [(ngModel)]="conf">
		</mat-form-field>
	</mat-card-content>
	<mat-card-actions align="end">
		<button mat-raised-button
				color="primary"
				(click)="create()"
				[disabled]="loading">
			<img src="/assets/loading.svg"
				 *ngIf="loading">
			Continuar
		</button>
	</mat-card-actions>
</mat-card>