:host {
	width: 15%;
	height: calc(100% - 32px);
}

ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 16px;
	width: 100%;
	height: 100%;
	border-right: 1px solid #ccc;

	li {
		border-bottom: 1px solid #ccc;

		&:last-child {
			border-bottom: 0;
		}

		a {
			display: flex;
			text-decoration: none;
			color: #333;
			height: 48px;
			font-size: 18px;
			align-items: center;
			transition: all .2s ease-in-out;

			&:hover {
				font-size: 20px;
				color: #000;
			}

			&.selected {
				background-color: #eee;
			}

			img {
				width: 20px;
				margin-right: 16px;
			}
		}
	}
}
